<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="readEXEfile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="readEXEfile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <readEXEfile.Properties.Settings>
            <setting name="q" serializeAs="String">
                <value>349, 21</value>
            </setting>
            <setting name="asd" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="dsa" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="center" serializeAs="String">
                <value>CenterScreen</value>
            </setting>
        </readEXEfile.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <readEXEfile.Properties.Settings>
            <setting name="qw" serializeAs="String">
                <value>349, 21</value>
            </setting>
        </readEXEfile.Properties.Settings>
    </applicationSettings>
</configuration>